.chip {

  @include border-radius();

  display: inline-block;
  padding: 0.25rem;

  &--color-primary {
    color: white;
    background-color: green;
  }

  &--color-secondary {
    color: var(--color-text-primary-medium);
    background-color: var(--color--gray-100);
  }

  &--dismissed {
    display: none;
  }
}
